---
type Reto = {
  id: number;
  titulo: string;
  dificultad: "fácil" | "medio" | "difícil";
  colSpan: number;
  rowSpan: number;
};

const retos: Reto[] = [
  { id: 1, titulo: "Reto 1", dificultad: "fácil", colSpan: 1, rowSpan: 3 },
  { id: 0, titulo: "Reto 0", dificultad: "fácil", colSpan: 2, rowSpan: 1 },

  { id: 4, titulo: "Reto 4", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 5, titulo: "Reto 5", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 6, titulo: "Reto 6", dificultad: "medio", colSpan: 1, rowSpan: 3 },
  { id: 7, titulo: "Reto 7", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 8, titulo: "Reto 6", dificultad: "fácil", colSpan: 1, rowSpan: 3 },
  { id: 9, titulo: "Reto 9", dificultad: "fácil", colSpan: 1, rowSpan: 2 },
  { id: 10, titulo: "Reto 10", dificultad: "fácil", colSpan: 2, rowSpan: 1 },
  { id: 11, titulo: "Reto 11", dificultad: "fácil", colSpan: 1, rowSpan: 4 },
  { id: 12, titulo: "Reto 12", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 13, titulo: "Reto 13", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 14, titulo: "Reto 14", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 15, titulo: "Reto 15", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 16, titulo: "Reto 16", dificultad: "fácil", colSpan: 1, rowSpan: 3 },

  { id: 17, titulo: "Reto17", dificultad: "medio", colSpan: 2, rowSpan: 2 },
  { id: 18, titulo: "Reto18", dificultad: "medio", colSpan: 1, rowSpan: 1 },
  { id: 19, titulo: "Reto19", dificultad: "medio", colSpan: 1, rowSpan: 1 },
  { id: 20, titulo: "Reto20", dificultad: "medio", colSpan: 1, rowSpan: 1 },
  { id: 21, titulo: "Reto21", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 20, titulo: "Reto20", dificultad: "medio", colSpan: 1, rowSpan: 1 },
  { id: 21, titulo: "Reto21", dificultad: "medio", colSpan: 1, rowSpan: 2 },
  { id: 22, titulo: "Reto22", dificultad: "medio", colSpan: 2, rowSpan: 3 },
  { id: 23, titulo: "Reto23", dificultad: "medio", colSpan: 2, rowSpan: 2 },
  { id: 24, titulo: "Reto24", dificultad: "medio", colSpan: 2, rowSpan: 2 },
  { id: 25, titulo: "Reto25", dificultad: "medio", colSpan: 2, rowSpan: 2 },
  { id: 26, titulo: "Reto26", dificultad: "medio", colSpan: 3, rowSpan: 1 },
  { id: 27, titulo: "Reto27", dificultad: "medio", colSpan: 2, rowSpan: 2 },
  { id: 28, titulo: "Reto28", dificultad: "medio", colSpan: 1, rowSpan: 2 },
  { id: 29, titulo: "Reto 29", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
  { id: 30, titulo: "Reto 30", dificultad: "fácil", colSpan: 1, rowSpan: 1 },
];
---

<!-- mi contenedor sera grid y contendra 7 columnas  -->
<main class="flex justify-center items-center w-full py-10">
  <div
    class="grid grid-cols-7 gap-1 w-[1120px] h-[1120px] bg-green-900 p-4 rounded-lg"
  >
    {
      retos.map((reto) => (
        <a href={`/reto-${reto.id}`}  id={`reto-${reto.id}`}
            class={`text-white p-4 text-left rounded-xl border border-white/10
          col-span-${reto.colSpan} 
          row-span-${reto.rowSpan}
            hover:cursor-pointer`}>
          <div class="hover:scale-105 transition  bg-black/10 h-full rounded-md p-2 hover_traslate-y-2 hover:rotate-1"
            
          >
            <span class="text-sm uppercase font-semibold tracking-wide">
              {reto.dificultad}
            </span>
            <h2 class="text-2xl font-bold mt-2">{reto.titulo}</h2>
            <span class="text-4xl font-black opacity-30 absolute bottom-2 right-4">
              {reto.id}
            </span>
          </div>
        </a>
      ))
    }
  </div>
</main>
